base58~=2.1.1
base91~=1.0.1
base_62~=0.1.1
colorama~=0.4.4
exp~=0.5.1
ipdb~=0.13.9
ipython~=8.0.1
loguru~=0.5.3
psutil~=5.9.0
pwn~=1.0
pwnlib~=1.2.1
pwntools~=4.7.0
pycryptodome~=3.13.0
qiling~=1.4.1
redis~=4.1.0
tqdm~=4.62.3
winpwn~=0.2.4
